@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
}

body{
  background-color: #EEDDB1;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

p,
ul,
li,
i {
  font-size: 1em;
}

a{
  color: black;
}

nav {
  background-color: #FFFFFF;
  border: 10px solid #593D27;
  color: #9CB139;
}

.sectionWithLogo{
  display: flex;
  align-items: center;
}

.navDiv{
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navSection{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.navSection a{
  text-decoration: none;
}

.logo{
  width: 20%;
  height: auto;
}

.center-text{
    display: flex;
    justify-content: center;
    padding: 4rem;
    background-color: black;
    color: white;
}

img {
    display: flex;
}

.images{
  width: 50%;
}

.intro-text-section{
  background-color: #9CB139;
  padding: 2rem 0rem;
}

.intro-text{
  width: 90%;
  margin: 0 auto;
  font-family: 'Dancing Script', cursive;
  color: white;
  text-align: center;
}

.sectionOne{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
  background-color: white;
}

.productDiv{
  background-color: white;
  width: 90%;
  margin: 4rem auto;
  border-radius: 6px;
  display: flex;
  overflow: hidden;
}

.insideProductDiv{
  padding: 2rem 2rem;
  background-color: #9CB139;
}

.product-heading{
  background-color: green;
  color: white;
  padding: 1rem 1rem;
  width: 80%;
  margin: 0 auto;
}

form{
  display: flex;
  flex-direction: column;
}

.divAroundForm{
  width: 90%;
  margin: 4rem auto;
  padding: 5rem 4rem;
  background-color: white;
  border-radius: 6px;
}

.our-story{
  width: 90%;
  margin: 4rem auto;
  background-color: #9CB139;
  color: white;
  padding: 5rem 5rem;
  border-radius: 6px;
}

.text-inside-story{
  width: 80%;
  margin: 0 auto;
}

.send-button{
  background-color: green;
  color: white;
  padding: 1rem 4rem;
  margin: 0 auto;
}

footer{
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 5rem;

}



@media only screen and (max-width: 768px) {
  .productDiv{
    display: flex;
    flex-direction: column;
  }

  .productDiv img{
    width: 100%;
  }

  .navSection{
    display: none;
  }

  .navSection a{
    display: none;
  }
}